{% extends 'base.html' %}

{% block content %}
<body class="electricity">
  <div class="electricity">
    <h2 class="electro-title">Electricity</h2>
    <form method="POST" id="electricity_form">
    
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <br>
      <label class="carbon-units" for="electro-units"><b>Emission units</b></label>
      <select name="emission_unit" id="electro-units">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="mt(metric tonnes)">mt(metric tonnes)</option>
      </select>

      <button class="emit">Emit Carbon Dioxide</button>
    </form>
  </div>
</body>
{% endblock %}