{% extends 'base.html' %}

{% block content %}
<body class="flight">
  <div class="flight">
    <h2 class="flight-title">Flight</h2>
    <form method="POST" id="flight_form">
    
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <br>
      <label for="units"><b>Emission units</b></label>
      <select name="emission_unit" id="units">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="mt(metric tonnes)">mt(metric tonnes)</option>
      </select>

      <button class="emit">Emit Carbon Dioxide</button>
    </form>
  </div>
<img src="/static/images/cloud.jpg" class="cloud5">
<img src="/static/images/cloud.jpg" class="cloud6">
<img src="/static/images/cloud.jpg" class="cloud7">
<img src="/static/images/cloud.jpg" class="cloud8">
</body>
{% endblock %}