:root {
	--clr-start-900: black;

	--clr-battleship: #85877c;

	--clr-navblue: #4f7cac;
	--clr-grey: #3c474b;
	--clr-sheen: #82aba1;
	--clr-oldrose: #c58882;
	--clr-orange: #ffe0b4;
	--clr-bg: #004d94;
	--clr-login: #8fe4ff;
	--clr-lightblue: #99ccfc;

	--clr-choices: #c0e0de;
	--ff-primary: 'Source Code Pro', monospace;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

/* Start Page */

#base {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-device-width: 415px) {
	#base {
		font-size: 1rem;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.container--alert {
	position: relative;
}

.text-center {
	text-align: center;
}

.text-center--title {
	padding-top: 4rem;
}

section {
	padding: 3rem 0;
}

section.intro {
	padding-top: 0;
}

.container {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body.bg-black {
	background-image: url('https://live.staticflickr.com/7447/27211256864_023e758b35_b.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-color: var(--clr-start-900);
	font-family: var(--ff-primary);
	font-weight: 300;
	font-size: 1.3125rem;
	line-height: 1.6;
}

h1,
h2,
p {
	margin: 0;
	margin-bottom: 1em;
}

button.sign-up {
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #004d94;
	border: none;
	border-radius: .938rem;
	box-shadow: 0 9px #999;
	opacity: .7;
}

button.sign-up:hover {
	background-color: #375a80;
}

button.sign-up:active {
	background-color: #375a80;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.letter {
	transition: color 1000ms;
}

a.login {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}

a.login:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1.text-center {
	font-size: 3.5rem;
}

div.statement {
	display: inline;
}

.split {
	display: flex;
	flex-direction: column;
}

@media (min-width: 40em) {
	.split {
		flex-direction: row;
	}

	.split > * {
		flex-basis: 100%;
	}

	split > * + * {
		margin-left: 2em;
	}
}

/* Login & Sign-up Page */

body.bg-blue {
	color: white;
	/* background-color: var(--clr-navblue); */
	background-image: url(/static/images/clouds.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--clr-choices);
	font-family: var(--ff-primary);
	font-weight: 300;
	font-size: 1.3125rem;
	line-height: 1.6;
}

section.bg-lighter-blue {
	padding-top: 5rem;
}

@media only screen and (max-device-width: 415px) {
	.container--login {
		transform: scale(1.75);
		margin-top: 20rem;
	}
}

.container--login {
	border-radius: 1.25rem;
	background-color: var(--clr-lightblue);
	padding: 1.25rem;
	margin-inline: auto;
	width: min(40%, 70.5rem);
}

form.text-center--user-form input.form-control {
	/* font-size: 18px; */
	font-weight: bold;
	padding: 12px;
	border-radius: 1.25rem;
	width: 100%;
	margin: 8px 0;
	display: inline-block;
	/* background-color: var(--clr-choices); */
	background-color: #ffffff;
}

button.login {
	padding: 15px 25px;
	/* font-size: 24px; */
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: var(--clr-navblue);
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	opacity: .7;
}

button.login:hover {
	background-color: #375a80;
}

button.login:active {
	background-color: #375a80;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/* Profile navbar */

body {
	overflow-x: hidden;
}

.flex {
	display: flex;
	gap: var(--gap, 5rem);
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
img.logo {
	max-width: 100%;
}

.image {
	flex-basis: 40%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}
.text {
	padding-right: 1.999rem;
	font-size: 1.89rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

li.nav-child {
	padding-right: 1rem;
	padding-top: 1rem;
}

.primary-header {
	align-items: center;
	justify-content: center;
}

.mobile-nav-toggle {
	display: none;
}

ul.primary-navigation {
	border-radius: 5rem;
	list-style: none;
	margin: 0rem;
	padding: .25rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	background-color: var(--clr-navblue);
	width: 100%;
	opacity: 90%;
	font-size: 1.89rem;
}

@supports (backdrop-filter: blur(2rem)) {
	.primary-navigation {
		opacity: 80%;
		backdrop-filter: blur(2rem);
	}
}

.primary-navigation a {
	text-decoration: none;
	color: white;
}

ul.primary-navigation a > [aria-hidden="true"] {
	font-weight: 700;
	margin-inline-end: 0.75rem;
}

@media (max-width: 35em) {
	.primary-navigation {
		/* --gap: 2em; */
		position: fixed;
		z-index: 1000;
		/* Like a shorthand margin */
		inset: 0 0 0 30%;

		flex-direction: column;
		padding: min(30vh, 10rem) 2rem;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	li.nav-child--logo {
		position: relative;
	}

	div.img-container {
		position: absolute;
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background-color: transparent;
		background: url("/static/images/icon-hamburger.svg");
		background-repeat: no-repeat;
		border: 0;
		width: 3rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url("/static/images/icon-hamburger-close.svg");
	}
}

@media (min-width: 35em) {
	.primary-navigation {
		--gap: clamp(1.5rem, 5vw, 3rem);
		padding-block: 2rem;
		padding-inline: clamp(3rem, 10vw, 10rem);
	}
}

li.nav-child a:hover,
.dropdown:hover .dropbtn,
div.img-container:hover {
	background-color: #5b91c9;
	border-radius: 5rem;
}

div.stack {
	position: relative;
}

.stack--drop {
	z-index: 2;
}

li.nav-child {
	display: inline-block;
	/* position: static; */
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	padding-top: 1rem;
}

/* Choices Page */

.text-center--question {
	font-weight: bold;
	font-size: 1.8;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.alert {
	margin: 0;
}

#bg-teal {
	background-color: var(--clr-choices);
	background-image: url(/static/images/clouds.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: var(--ff-primary);
	font-weight: 300;
	font-size: 1.3125rem;
	line-height: 1.6;
}

button.choice {
	background-color: #004d94;
	color: white;
	border-radius: 25px;
	border-width: 3px;
	width: 7rem;
	height: 3rem;
	font-family: var(--ff-primary);
}

button.choice:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

p.icon {
	font-size: 4rem;
}

/* Vehicle Form */

#bg-beige {
	background-color: var(--clr-orange);
	font-family: var(--ff-primary);
}

label.Menu {
	font-weight: 1000;
	font-size: 130%;
}

label.Menu2 {
	font-weight: 1000;
	font-size: 130%;
}

div.loading {
	visibility: hidden;
	display: flex;
	justify-content: center;
}

div.loading::after {
	content: "";
	width: 50px;
	height: 50px;
	border: 10px solid #dddddd;
	border-top-color: orange;
	border-radius: 50%;
	animation: loading 1s ease infinite;
}

@keyframes loading {
	to {
		transform: rotate(1turn);
	}
}

div.container--brand {
	background-image: url(/static/images/desertroad.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	font-size: 110%;
	width: 30rem;
	height: 25rem;
	padding: 0 1em;
	font-size: 110%;
	margin: 0 auto;
	color: white;
	flex-shrink: 1;
}

section.form-row,
.text-center--trip,
.text-center--shipping,
.text-center--flight,
.text-center--electricity,
.text-center--chart {
	overflow: hidden;
	display: flex;
	margin-bottom: 1.5rem;
	justify-content: center;
}

@media only screen and (max-width: 415px) {
	div.container--brand {
		transform: scale(1);
	}
}

div.form-group {
	position: relative;
}	

div.models {
	width: 29rem;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.brand-buttons {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, 30%);
}

#Menu1,
#Menu2 {
	background-color: var(--clr-orange);
	font-family: var(--ff-primary);
	height: 1.875rem;
	width: 60%;
	border-radius: 1.25rem;
	font-weight: bold;
}

button.model,
.reset {
	font-family: var(--ff-primary);
	padding: .938rem 1.563rem;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: var(--clr-navblue);
	border: none;
	border-radius: .938rem;
	box-shadow: 0 9px #999;
	font-size: 80%;
	font-weight: 1000;
	width: 8rem;
	height: 4rem;
}

button.model:hover,
.reset:hover {
	background-color: var(--clr-orange);
}

/* Vehicle Calculation Form */

#bg-darkblue {
	background-color: var(--clr-navblue);
	font-family: var(--ff-primary);
}

h2.vehicle-title {
	color: black;
}

div.container--trip {
	background-image: url(/static/images/road-trip-car.png);
	border-radius: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	font-size: 110%;
	width: 30rem;
	height: 25rem;
	padding: 0 1em;
	font-size: 110%;
	margin: 0 auto;
	/* position: static; */
}

#vehicle_trip_form select.form-control,
#units,
#vehicle_trip_form input.form-control {
	font-family: var(--ff-primary);
	border-radius: 5rem;
	background-color: white;
	color: black;
	height: 1.875rem;
	font-size: 115%;
}

#units {
	margin: 25px;
}

button.emit {
	font-family: var(--ff-primary);
	display: inline-block;
	padding: 15px 25px;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: var(--clr-navblue);
	border: none;
	border-radius: .938rem;
	box-shadow: 0 9px #999;
	margin: 0 auto;
	/* position: absolute;
	top: 84%;
	left: 50%;

	transform: translate(-50%, -50%); */
	width: 200px;
	height: 100px;
	font-size: 90%;
	font-weight: bold;
}

button.emit:hover {
	background-color: #5b91c9;
}

/* Shipping Calculation Form */

#bg-red {
	background-color: var(--clr-oldrose);
	font-family: var(--ff-primary);
}

label.methods,
label.units {
	font-weight: 1000;
	font-size: 140%;
}

@media only screen and (max-width: 415px) {
	div.container--shipping {
		transform: scale(.7);
	}
}

div.stack--shipping {
	z-index: 1;
}

div.container--shipping {
	background-image: url(https://st3.depositphotos.com/9703412/18207/v/600/depositphotos_182076736-stock-illustration-container-ship-freight-port-terminal.jpg);
	color: black;
	font-weight: bold;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1.25rem;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	font-size: 110%;
	width: 30rem;
	height: 35rem;
	padding: 0 1em;
	font-size: 110%;
}

button.emit--shipping {
	font-family: var(--ff-primary);
	display: inline-block;
	padding: 15px 25px;
	font-size: 21.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: var(--clr-navblue);
	border: none;
	border-radius: .938rem;
	box-shadow: 0 9px #999;
	margin: 0;
	position: absolute;
	top: 120%;
	left: 50%;

	transform: translate(-50%, -50%);
	width: 12.5rem;
	height: 6.25rem;
	font-size: 90%;
	font-weight: bold;
}

button.emit--shipping:hover {
	background-color: #5b91c9;
}

#shipping_form {
	position: relative;
}

#methods,
#shipping_form select.form-control,
#shipping_form input.form-control,
#units {
	font-family: var(--ff-primary);
	border-radius: 5rem;
	background-color: white;
	color: black;
	height: 30px;
	font-size: 115%;
	margin: 25px;
	font-weight: bold;
}

/* Flight Form */

#flight {
	background-color: var(--clr-lightblue);
	font-family: var(--ff-primary);
}

@media only screen and (max-width: 415px) {
	div.container--flight {
		transform: scale(1);
	}
	/* button.emit--flight {
		position: absolute;
		top: 80%;
		left: 50%;
	
		transform: translate(-50%, 0%);
	} */
}

div.container--flight {
	color: black;
	background-image: url(/static/images/flight.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #8fe4ff;
	border-radius: 1.25rem;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	font-size: 110%;
	width: 30rem;
	height: 25rem;
	padding: 0 1em;
	font-size: 110%;
	margin: 0 auto;
}

#flight_form select.form-control,
#flight_form input.form-control {
	background-color: white;
	border-radius: 5rem;
	height: 1.875rem;
	font-size: 115%;
	color: black;
	font-family: var(--ff-primary);
	margin: 1.2rem;
	font-weight: bold;
}

button.emit--flight {
	position: absolute;
	top: 70%;
	left: 50%;

	transform: translate(-50%, -50%);

}


/* Electricity Calculation Form */

@media only screen and (max-width: 415px) {
	div.container--electricity {
		transform: scale(1);
	}
}

#bg-green {
	background-image: url(/static/images/clouds.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--clr-choices);
}

div.container--electricity {
	background-image: url(/static/images/electricity-supply.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #8fe4ff;
	border-radius: 1.25rem;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	font-size: 110%;
	width: 30rem;
	height: 25rem;
	padding: 0 1em;
	font-size: 110%;
	margin: 0 auto;
}

#electro-units,
#electricity_form select.form-control,
#vehicle_trip_form select.form-control,
#electricity_value {
	border-radius: 5rem;
	background-color: white;
	font-family: var(--ff-primary);
	height: 30px;
	font-size: 115%;
	font-weight: bold;
	margin: .6rem;
	color: black;
}

label.carbon-units {
	font-weight: bold;
	color: black;
}

h2.electro-title {
	color: black;
}

button.emit--electro {
	position: absolute;
	top: 70%;
	left: 50%;

	transform: translate(-50%, -50%);

}

/* Results page */

#bg-grey {
	background-color: var(--clr-grey);
	background-image: url(/static/images/result.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: var(--ff-primary);
	text-align: center;
}

div.stack--result {
	margin: 0;
	position: relative;
	z-index: 1;

}

div.result {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 55%);
}

button.profile {
	display: inline-block;
	padding: 15px 25px;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #969898;
	border: none;
	border-radius: .938rem;
	box-shadow: 0 9px rgb(117, 117, 117);
}

button.profile:hover {
	background-color: #848484;
}

button.profile:active {
	background-color: #505a5e;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/* div.parent {
	padding: 30em;
} */

/* Profile */

.collapsible {
	background-color: var(--clr-navblue);
	color: white;
	cursor: pointer;
	padding: 1.125rem;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: .860rem;
	border-radius: 1.25rem;
}

.working,
.collapsible:hover {
	background-color: #5b91c9;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: .313rem;
}

.working:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

p.username {
	font-weight: bold;
}

#bg-teal {
	color: white;
	font-family: var(--ff-primary);
}

.split--profile {
	display: flex;
	flex-direction: column;
}

@media (min-width: 40em) {
	.split--profile {
		flex-direction: row;
	}

	.split--profile > * {
		flex-basis: 100%;
	}

	split--profile > * + * {
		margin-left: 2em;
	}
}

.calculation {
	color: white;
	font-size: 1.5rem;
	width: 9em;
	margin: .5em;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
	border-radius: 1.25rem;
	height: fit-content;
}

.calculation p {
	font-weight: bold;
}

#vehicle-calculations .list-group-item,
#electricity-calculations .list-group-item,
#flight-calculations .list-group-item,
#shipping-calculations .list-group-item {
	display: flex;
	align-items: flex-start;
	padding: 7px 20px 12px;
}

#vehicle-calculation:not(.no-hover) .list-group-item:hover,
#shipping-calculation:not(.no-hover) .list-group-item:hover,
#flight-calculation:not(.no-hover) .list-group-item:hover,
#electricity-calculation:not(.no-hover) .list-group-item:hover {
	background-color: #e6ecf0;
}

#vehicle-calculations {
	color: white;
	background-color: var(--clr-orange);
}

#shipping-calculations {
	color: white;
	background-color: var(--clr-oldrose);
}

#flight-calculations {
	color: white;
	background-color: #99ccfc;
}

#electricity-calculations {
	color: white;
	background-color: var(--clr-sheen);
}

.letter {
	transition: color 1000ms;
}

div.profile-logo {
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: white;
}

/* Chart */

div.chart {
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	font-size: 110%;
	width: 30rem;
	height: 25rem;
	padding: 0 1em;
	font-size: 110%;
	display: block;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-device-width: 415px) {
	.chart {
		transform: scale(1);
	}
}
