{% extends 'base.html' %}

{% block content %}
<body id="bg-teal">
   
    <section class="Choices">
        <div class="container container--choices">
            <h2 class="text-center text-center--question"><b>What do you want to calculate today?</b></h2>
        </div>
        <div class="split split--choices">
        <div>
            <form method="GET" action="/add_my_car" class="text-center">
                <p class="icon">🚗</p>
                <button class="choice"><b>Vehicle</b></button>
            </form>
        </div>
        <div>
            <form method="GET" action="/shipping" class="text-center">
                <p class="icon">🚚</p>
                <button class="choice"><b>Shipping</b></button>
            </form>
        </div>
        <div>
            <form method="GET" action="/flight" class="text-center">
                <p class="icon">🛫</p>
                <button class="choice"><b>Flight</b></button>
            </form>
        </div>
        <div>
            <form method="GET" action="/electricity" class="text-center">
                <p class="icon">⚡</p>
                <button class="choice"><b>Electricity</b></button>
            </form>
        </div>
    </div>
</section>


</body>
{% endblock %}
