{% extends 'base.html' %} 

{% block content %}
<body class="profile">
  <div class="row">
    <div class="column"  id="vehicle-calculations">
        <ul>
          <h3>Vehicle emissions</h3>
            {% if vehicle_calculations|length > 0 %}
            {% for emission in vehicle_calculations %}
            <li class="list-group-item">
      
                <div class="vehicle-calc-area">
                  <a class="username" href="/users/{{ user.id }}">@{{ user.username }}</a>
                  <span class="text-muted">{{ emission.timestamp.strftime('%d %B %Y') }}</span>
                  <p>{{ emission.distance_value }} {{ emission.distance_unit }}</p>
                  <p>Type: Vehicle</p>
                </div>
                
              </li>
            {% endfor %}
            {% else %}
            <p>You have no vehicle emissions yet</p>
            {% endif %}
        </ul>
    </div>
    <br>
    <div class="column" id="shipping-calculations">
        <ul>
          <h3>Shipping emissions</h3>
            {% if shipping_calculations|length > 0 %}
            {% for emission in shipping_calculations %}
            <li class="list-group-item">
      
                <div class="shipping-calc-area">
                  <a class="username" href="/users/{{ user.id }}">@{{ user.username }}</a>
                  <span class="text-muted">{{ emission.timestamp.strftime('%d %B %Y') }}</span>
                  <p>{{ emission.distance_value }} {{ emission.distance_unit }}</p>
                  <p>{{ emission.weight_value }} {{ emission.weight_unit }}</p>
                  <p>Type: Shipping</p>
                  <p>Transport method: {{ emission.transport_method }}</p>
                </div>
                
              </li>
            {% endfor %}
            {% else %}
            <p>You have no shipping emissions yet</p>
            {% endif %}
        </ul>
    </div>
    <br>
    <div class="column" id="flight-calculations">
        <ul>
          <h3>Flight emissions</h3>
            {% if flight_calculations|length > 0 %}
            {% for emission in flight_calculations %}
            <li class="list-group-item">
      
                <div class="flight-calc-area">
                  <a class="username" href="/users/{{ user.id }}">@{{ user.username }}</a>
                  <span class="text-muted">{{ emission.timestamp.strftime('%d %B %Y') }}</span>
                  <p>{{ emission.distance_value }} {{ emission.distance_unit }}</p>
                  <p>Type: Flight</p>
                </div>
                
              </li>
            {% endfor %}
            {% else %}
            <p>You have no flight emissions yet</p>
            {% endif %}
        </ul>
    </div>
    <br>
    <div class="column" id="electricity-calculations">
        <ul>
          <h3>Electricity emissions</h3>
            {% if electricity_calculations|length > 0 %}
            {% for emission in electricity_calculations %}
            <li class="list-group-item">
      
                <div class="flight-calc-area">
                  <a class="username" href="/users/{{ user.id }}">@{{ user.username }}</a>
                  <span class="text-muted">{{ emission.timestamp.strftime('%d %B %Y') }}</span>
                  <p>{{ emission.electricity_value }} {{ emission.electricity_unit }}</p>
                  <p>Type: Electricity</p>
                  <p>Country: {{ emission.country }}</p>
                </div>
                
              </li>
            {% endfor %}
            {% else %}
            <p>You have no vehicle emissions yet</p>
            {% endif %}
        </ul>
    </div>
  </div>
  </body>
{% endblock %}