<head>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<body class="bg-blue">
  <section class="bg-light-blue">
  <div class="container container--login">

    <h2 class="text-center">Calculate carbon footprints today.</h2>

    <form method="POST" id="" class="text-center text-center--user-form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="login signup-page">Sign up</button>
    </form>
  </div>
</section>
</body>
